##################################
# Virtual Environment
##################################
venv-deliver/

##################################
# Environment variables
##################################
.env
.env.*
!.env.example

##################################
# Python
##################################
__pycache__/
*.py[cod]
*$py.class

##################################
# Packaging
##################################
build/
dist/
*.egg-info/
.eggs/

##################################
# Testing / Coverage
##################################
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.ruff_cache/

##################################
# Jupyter
##################################
.ipynb_checkpoints/

##################################
# Logs
##################################
*.log

##################################
# OS
##################################
.DS_Store
Thumbs.db
desktop.ini

##################################
# Local data
##################################
**/data/
**/output/
**/tmp/
memo.txt
